
<%- include('../partials/html-head') %> <%- include('../partials/nav') %>
<body class="bgimgselect">

<main>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Philosopher:ital@1&family=Yantramanav:wght@100&display=swap" rel="stylesheet">
  <div>
    <img
      class="profile-avatar"
      src="<%= profile.avatar %>"
      alt="<%= profile.name %>'s avatar"
    />
  </div>
  <h1><%= isSelf ? "Your" : profile.name %> Drinks!</h1>
  <% if (isSelf) { %> <% profile.drinks.forEach(drink =>{ %>
  <a href="/drinks/<%= drink._id %>"><%= drink.name %></a>
  <% }) %> <% } %>
</main>
</body>

<%- include('../partials/footer') %>