<%- include('../partials/html-head') %> <%- include('../partials/nav') %>
<body class="bgimgselect">
  <section class="editcomment">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Philosopher:ital@1&family=Yantramanav:wght@100&display=swap" rel="stylesheet">
    <h1>Edit your comment!</h1>
    <form
      class="editcommentform"
      action="/drinks/<%= drink._id %>/comments/<%= comment._id %>?_method=PUT"
      method="POST"
    >
      <label class="editlabel">
        <h2>Comment:</h2>
        <textarea
          class="editcommentbox"
          cols="30"
          rows="5"
          type="text"
          name="content"
          autocomplete="off"
        >
<%= comment.content %></textarea
        >
      </label>
      <h2>
        <button id="editcommentbutton " class="btn" type="submit">
          Update Comment ✏️
        </button>
      </h2>
    </form>
  </section>
</body>

<%- include('../partials/footer') %>
