<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@200&family=Playfair+Display:ital@1&family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
  <h1>Welcome to AskMe Coffee <%= user ? user.profile.name : "" %></h1>
  <h3> A Place where your drink ideas can come to life</h3>
  <img class="coffeecluster" src="../images/coffeecluster.png">
  <img class="illdrinktothat" src="../images/illdrinktothat.png">
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
